@model IEnumerable<deneme2.Models.City>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-12 text-right">
            @Html.ActionLink("Yeni Şehir Ekle", "Create", null, new { @class = "btn btn-primary mb-3 text-light" })
        </div>


        


                <table class="table table-striped">

                    <thead class="thead-dark">
                        <tr class="text-center align-content-center">

                            <th scope="col"></th>
                            <th scope="col" class="text-center">Şehir Adı</th>
                            <th scope="col" class="text-center">Detaylar</th>


                        </tr>
                    </thead>
                    <tbody>

                        @{int orderCounter = 0;}
                        @foreach (var item in Model)
                        {


                            orderCounter++;
                            <tr>
                                <td class="align-middle">
                                    @orderCounter
                                </td>

                                <td class="text-center align-middle">
                                    @item.cityName
                                </td>
                                <td class="text-center align-middle">
                                    @Html.ActionLink("İncele", "Details", new { id = item.id }, new { @class = "btn btn-success" })
                                </td>

                            </tr>

                        }

                </table>
            </div>
        </div>
