
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<!DOCTYPE html>
<html>
<head>

    <link href="~/Content/css/home.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/bootstrap.js"></script>
    
</head>
<body>
    <div class="row">
        <div class="col-12 text-black-50 text-center">
            
            <h1>Sn. @Session["AdiSoyadi"]</h1>
            
            <h2>Hoşgeldiniz..</h2>
        </div>
    </div>

</body>
</html>